@page "/reportAnalysis"
@using WCLAnalysis.Service
@using Newtonsoft.Json.Linq
@using Newtonsoft.Json
@using WCLAnalysis.Data
@inject ReportService _reportService

@if (_fightShow == 0)//首页输入战斗编号
{
    <div class="center-in-center form-inline">
        <TextEdit @bind-Text="@InputReportId" Size="Size.Large" Placeholder="请输入日志的战斗编号"></TextEdit>
        <p>&nbsp;</p>
        <Button Outline="true" Size="Size.Large" Color="Color.Primary" @onclick="SearchReports"><b>Analysis ></b></Button>
    </div>

}
else if (_fightShow == 1)//选择
{
    <Button style="margin-top: 2%" Outline="true" Size="Size.Large" Color="Color.Success" @onclick="ReturnBeforePage">返回</Button>
    <Divider />
    <h4 style="margin-top: 2%">战斗列表</h4>
    <div class="box">
        @for (var i = 0; i <= _reports.Count / 5; i++)
        {
            var tempReport = _reports.Count >= i * 5 + 5 ? _reports.GetRange(i * 5, 5) : _reports.GetRange(i * 5, _reports.Count - i * 5);
            @foreach (var report in tempReport)
            {
                if (report.Kill)
                {
                    <Card class="child" Margin="Margin.Is4.FromBottom" Background="Background.Success" WhiteText="true">
                        <CardBody>
                            <CardTitle Size="5">@report.Name</CardTitle>
                            <CardText>
                                开始时间: @report.StartTime
                            </CardText>
                            <CardText>
                                结束时间 @report.EndTime
                            </CardText>
                            <CardText>
                                是否击杀 @report.Kill
                            </CardText>
                            <Button Outline="true" Size="Size.Small" Color="Color.Link" @onclick="() => AnalysisReports(report.Id)"><b>战斗详情 ></b></Button>
                            <Button Outline="true" Size="Size.Small" Color="Color.Link" @onclick="() => AnalysisReportsErupt(report.Id)"><b>战斗技能分配 ></b></Button>
                        </CardBody>
                    </Card>
                }
                else
                {
                    var bossPercent = 100 - report.BossPercentage / 100;
                    var style = "";
                    <Card class="child" Margin="Margin.Is4.FromBottom" Background="Background.Info" WhiteText="true">
                        <CardBody>
                            <CardTitle Size="5">@report.Name</CardTitle>
                            <CardText>
                                开始时间: @report.StartTime
                            </CardText>
                            <CardText>
                                结束时间 @report.EndTime
                            </CardText>
                            <CardText>
                                是否击杀 @report.Kill
                            </CardText>
                            <Progress style="background-color:#303030">
                                @{
                                    style = bossPercent switch
                                    {
                                        > 90 => "background-color:darkorange",
                                        > 70 => "background-color:blueviolet",
                                        > 50 => "background-color:blue",
                                        > 20 => "background-color:green",
                                        > 0 => "background-color: white",
                                        _ => style
                                    };
                                }
                                <ProgressBar size="" Style=@style Value=@bossPercent></ProgressBar>
                            </Progress>
                            <Button Color="Color.Link" @onclick="() => AnalysisReports(report.Id)" Outline="true" Size="Size.Small"><b>战斗详情 ></b></Button>
                            <Button Color="Color.Link" @onclick="() => AnalysisReportsErupt(report.Id)" Outline="true" Size="Size.Small"><b>战斗技能分配 ></b></Button>
                        </CardBody>
                    </Card>
                }
            }
        }
    </div>
}
else if (_fightShow == 2)
{
    <Button style="margin-top: 2%" Outline="true" Size="Size.Large" Color="Color.Success" @onclick="ReturnBeforePage">返回</Button>
    <Divider />
    <h4 style="margin-top: 2%">角色列表</h4>
    <div class="box">
        @for (var i = 0; i <= _friendlies.Count / 5; i++)
        {
            var tempReport = _friendlies.Count >= i * 5 + 5 ? _friendlies.GetRange(i * 5, 5) : _friendlies.GetRange(i * 5, _friendlies.Count - i * 5);
            @foreach (var friendly in tempReport)
            {
                <Card class="child" Margin="Margin.Is4.FromBottom" Style="background-color: #1D1C1B" WhiteText="true">
                    <CardBody>
                        <CardTitle Size="5" Style=@_cssTypeStyle[friendly.Type]>@friendly.Name</CardTitle>
                        <CardText Style="color:whitesmoke">
                            装等: @friendly.ItemLevel
                        </CardText>
                        <Button Size="Size.Small" Style="color:whitesmoke" @onclick="() => AnalysisFriendly(friendly.Id)">角色详情 ></Button>
                    </CardBody>
                </Card>
            }
        }
    </div>
}
else if (_fightShow == 3)
{
    <Button style="margin-top: 2%" Outline="true" Size="Size.Large" Color="Color.Success" @onclick="ReturnBeforePage">返回</Button>
    <Divider />
    <Tabs Style="margin-top: 2%" SelectedTab="@_selectedTab" SelectedTabChanged="@OnSelectedTabChanged">
        <Items>
            <Tab Name="basic">基础信息</Tab>
            <Tab Name="castAnalysis" Disabled=@IsShowCastAnalysis>技能数占比分析</Tab>
            <Tab Name="mainSkillTimeLine">爆发技能轴分析</Tab>
        </Items>
        <Content>
            <TabPanel Name="basic">
                <div class="center-in-center form-inline">
                    <ul>
                        <li class="characterInfo"><b>角色名：</b>@_curFriendly.Name</li>
                        <li class="characterInfo"><b>装等：</b>@_curFriendly.ItemLevel</li>
                        <li class="characterInfo"><b>天赋：</b>@_curFriendly.TalentNumber</li>
                        <li class="characterInfo"><b>职业：</b>@_curFriendly.Type</li>
                        <li class="characterInfo"><b>专精：</b>@_curFriendly.Spec</li>
                        <li class="characterInfo"><b>盟约：</b>@_curFriendly.Covenant</li>
                    </ul>
                </div>
            </TabPanel>
            <TabPanel Name="castAnalysis">
                @if (_analysisShow == 0)
                {
                    <div class="spinner"></div>
                }
                @if (_analysisShow == 1)
                {
                    <li style="margin-top: 2%" class="characterInfo">当前在wcl前100中找到 @_sameTalentCovenant 个人与角色天赋盟约相同</li>
                    <Table style="margin-top: 2%">
                        <TableHeader ThemeContrast="ThemeContrast.Dark">
                            <TableRow>
                                <TableHeaderCell>技能名称</TableHeaderCell>
                                <TableHeaderCell>你的释放数量</TableHeaderCell>
                                <TableHeaderCell>模板选手的释放数量</TableHeaderCell>
                                <TableHeaderCell>平均每分钟的释放数量</TableHeaderCell>
                                <TableHeaderCell>模板选手平均每分钟的释放数量</TableHeaderCell>
                                <TableHeaderCell>你该技能占总施法的占比</TableHeaderCell>
                                <TableHeaderCell>模板选手的占比</TableHeaderCell>
                                <TableHeaderCell>建议</TableHeaderCell>
                            </TableRow>
                        </TableHeader>
                        @foreach (var p in _indexCast)
                        {
                            var sumRole = _casts.Sum(keyValuePair => keyValuePair.Value);
                            var sumModel = _castsModel.Sum(keyValuePair => keyValuePair.Value);
                            <TableRow>
                                <TableRowCell>@p</TableRowCell>

                                @if (_casts.ContainsKey(p) && _castsModel.ContainsKey(p))
                                {
                                    var avgRole = Math.Round(_casts[p] / _durationRole * 60, 2);
                                    var avgModel = Math.Round(_castsModel[p] / _durationModel * 60, 2);
                                    var percentRole = Math.Round((double)_casts[p] / sumRole, 2);
                                    var percentModel = Math.Round((double)_castsModel[p] / sumModel, 2);
                                    var showTip = (percentModel - percentRole) switch
                                    {
                                        > 0.05 => "需要多用",
                                        > 0.02 => "可以多用",
                                        < -0.05 => "需要少用",
                                        < -0.02 => "可以少用",
                                        _ => ""
                                    };
                                    <TableRowCell>@_casts[p]</TableRowCell>
                                    <TableRowCell>@_castsModel[p]</TableRowCell>
                                    <TableRowCell>@avgRole</TableRowCell>
                                    <TableRowCell>@avgModel</TableRowCell>
                                    <TableRowCell>@percentRole</TableRowCell>
                                    <TableRowCell>@percentModel</TableRowCell>
                                    if (showTip == "")
                                    {
                                        <TableRowCell Style="background-color: azure;color: black">@showTip</TableRowCell>
                                    }
                                    else if (showTip == "需要多用")
                                    {
                                        <TableRowCell Style="background-color: azure; color:mediumblue">@showTip</TableRowCell>
                                    }
                                    else if (showTip == "需要少用")
                                    {
                                        <TableRowCell Style="background-color: azure; color: red">@showTip</TableRowCell>
                                    }
                                    else if (showTip == "可以多用")
                                    {
                                        <TableRowCell Style="background-color: azure; color:lightblue">@showTip</TableRowCell>
                                    }
                                    else if (showTip == "可以少用")
                                    {
                                        <TableRowCell Style="background-color: azure; color: lightcoral">@showTip</TableRowCell>
                                    }
                                }
                                else if (!_casts.ContainsKey(p))
                                {
                                    var avgModel = Math.Round(_castsModel[p] / _durationModel * 60, 2);
                                    var percentModel = Math.Round((double)_castsModel[p] / sumModel, 2);
                                    var showTip = (percentModel - 0) switch
                                    {
                                        > 0.05 => "需要多用",
                                        > 0.02 => "可以多用",
                                        _ => ""
                                    };
                                    <TableRowCell>0</TableRowCell>
                                    <TableRowCell>@_castsModel[p]</TableRowCell>
                                    <TableRowCell>0</TableRowCell>
                                    <TableRowCell>@avgModel</TableRowCell>
                                    <TableRowCell>0</TableRowCell>
                                    <TableRowCell>@percentModel</TableRowCell>
                                    if (showTip == "")
                                    {
                                        <TableRowCell Style="background-color: azure;color: black">@showTip</TableRowCell>
                                    }
                                    else if (showTip == "需要多用")
                                    {
                                        <TableRowCell Style="background-color: azure; color:mediumblue">@showTip</TableRowCell>
                                    }
                                    else if (showTip == "可以多用")
                                    {
                                        <TableRowCell Style="background-color: azure; color:dodgerblue">@showTip</TableRowCell>
                                    }
                                }
                                else
                                {
                                    var avgRole = Math.Round(_casts[p] / _durationRole * 60, 2);
                                    var percentRole = Math.Round((double)_casts[p] / sumRole, 2);
                                    var showTip = (0 - percentRole) switch
                                    {
                                        > 0 => "",
                                        < -0.05 => "需要少用",
                                        < -0.02 => "可以少用",
                                        _ => ""
                                    };
                                    <TableRowCell>@_casts[p]</TableRowCell>
                                    <TableRowCell>0</TableRowCell>
                                    <TableRowCell>@avgRole</TableRowCell>
                                    <TableRowCell>0</TableRowCell>
                                    <TableRowCell>@percentRole</TableRowCell>
                                    <TableRowCell>0</TableRowCell>
                                    if (showTip == "")
                                    {
                                        <TableRowCell Style="background-color: azure;color: black">@showTip</TableRowCell>
                                    }
                                    else if (showTip == "需要少用")
                                    {
                                        <TableRowCell Style="background-color: azure; color: red">@showTip</TableRowCell>
                                    }
                                    else if (showTip == "可以少用")
                                    {
                                        <TableRowCell Style="background-color: azure; color: lightcoral">@showTip</TableRowCell>
                                    }
                                }
                            </TableRow>
                        }
                    </Table>

                }
            </TabPanel>
            <TabPanel Name="mainSkillTimeLine">
                @if (_analysisShow == 0)
                {
                    <div class="spinner"></div>
                }
                @if (_analysisShow == 1)
                {
                    <li style="margin-top: 2%" class="characterInfo">当前在wcl前100中找到 @_sameTalentCovenant 个人与角色天赋盟约相同</li>

                }
                @if (_analysisShow == 2)
                {
                    <li style="margin-top: 2%" class="characterInfo">当前在wcl前100中找到 @_sameTalentCovenant 个人与角色天赋盟约相同</li>

                }
            </TabPanel>
        </Content>
    </Tabs>
}
else if (_fightShow == 4)
{
    <div class="spinner"></div>
}
else if (_fightShow == 5)
{
    <Progress style="margin-top: 2%">
        <ProgressBar Value=@_process />
    </Progress>
    <p>@_process</p>
}
else if (_fightShow == 6)
{
    <Table style="margin-top: 2%">
        <TableHeader ThemeContrast="ThemeContrast.Dark">
            <TableRow>
                <TableHeaderCell>施法者</TableHeaderCell>
                <TableHeaderCell>爆发种类</TableHeaderCell>
                <TableHeaderCell>爆发名称</TableHeaderCell>
                <TableHeaderCell>时间</TableHeaderCell>
            </TableRow>
        </TableHeader>
        @foreach (var p in _eruptList)
        {
            <TableRow>
                <TableRowCell>@p.SourceId</TableRowCell>
                @if (p.Type == 1)
                {
                    <TableRowCell>输出技能</TableRowCell>
                }
                else if (p.Type == 2)
                {
                    <TableRowCell>治疗技能</TableRowCell>
                }
                else if (p.Type == 3)
                {
                    <TableRowCell>自保技能</TableRowCell>
                }
                else if (p.Type == 4)
                {
                    <TableRowCell>功能技能</TableRowCell>
                }
                <TableRowCell>@p.Name</TableRowCell>
                <TableRowCell>@p.Time</TableRowCell>
            </TableRow>
        }
    </Table>
}

@code {

    #region 变量

    //通用
    public string InputReportId { get; set; }//报告ID
    public Dictionary<string, string> ReportJsonDic = new();//报告ID对应的json字符串
    public Dictionary<string, Dictionary<int, string>> CharacterFightDic = new();//分别表示 战斗日志编码  某场战斗id  该战斗的json字符
    List<Report> _reports = new();//当前报告ID下的所有战斗
    List<Friendly> _friendlies = new();//当前战斗中参与的友方玩家
    Friendly _curFriendly;//当前选中的玩家
    int _curFightId;//当前战斗ID

    //施法分析
    int _sameTalentCovenant;//wcl前100与当前玩家天赋盟约相同的数量
    List<string> _indexCast = new();//当前玩家施法的所有index，供做表用
    double _durationRole;//当前玩家当前战斗的用时
    double _durationModel;//当前玩家当前战斗的模板玩家的战斗用时
    Dictionary<string, int> _casts = new();//当前玩家当前战斗的施法数量字典
    Dictionary<string, int> _castsModel = new();//当前玩家当前战斗的模板玩家的施法数量字典

    //团队爆发技能分析
    List<Cast> _eruptListTemp = new();//当前玩家的爆发技能列表
    List<EruptTimeLine> _dicErupt = new();
    List<EruptTimeLine> _eruptList = new();

    //爆发技能抽分析

    //页面转换以及进度条等数据绑定
    private int _fightShow;//不同功能页面之间的切换
    private int _analysisShow;//分析某个角色的不同功能之间的切换
    int _process;//分析进度条绑定值
    readonly Dictionary<string, string> _cssTypeStyle = new();//cssSty
    string _selectedTab = "basic";//绑定某角色下所选的是什么功能
    private const bool IsShowCastAnalysis = false;//是否显示技能占比

    #endregion

    #region 功能method



    #endregion

    /// <summary>
    /// 初始化
    /// </summary>
    protected override void OnInitialized()
    {
        //初始化cssStyle
        InitialCssStyle();
    }
    /// <summary>
    /// 根据报告ID查找报告的json字符串
    /// </summary>
    private async void SearchReports()
    {
        //wait for get info from wcl and spin
        _fightShow = 4;
        //
        StateHasChanged();
        await Task.Delay(1);
        string reportJson;
        if (ReportJsonDic.ContainsKey(InputReportId))
            reportJson = ReportJsonDic[InputReportId];
        else
        {
            reportJson = await _reportService.GetReportJsonStringByReportIdAsync(InputReportId);
            ReportJsonDic.Add(InputReportId, reportJson);
        }
        var parsedObject = JObject.Parse(reportJson);
        var parsedJson = parsedObject["fights"]?.ToString();
        _reports = JsonConvert.DeserializeObject<List<Report>>(parsedJson ?? string.Empty);
        _reports = (_reports ?? throw new InvalidOperationException()).Where(p => p.Boss != 0).ToList();
        foreach (var report in _reports)
        {
            // ReSharper disable once PossibleNullReferenceException
            report.StartTime = UnixToDateTime(parsedObject["start"].ToObject<long>() + report.StartTimeUnix);
            // ReSharper disable once PossibleNullReferenceException
            report.EndTime = UnixToDateTime(parsedObject["start"].ToObject<long>() + report.EndTimeUnix);
        }
        //turn to fight page
        _fightShow = 1;
        StateHasChanged();
    }
    /// <summary>
    /// 根据战斗ID获取战斗的json字符串
    /// 并且获取当前战斗的玩家列表
    /// </summary>
    /// <param name="fightId"></param>
    private async void AnalysisReports(int fightId)
    {
        //wait for get info from wcl and spin
        _fightShow = 4;
        _curFightId = fightId;
        //
        StateHasChanged();
        await Task.Delay(1);
        string reportJson;
        if (ReportJsonDic.ContainsKey(InputReportId))
            reportJson = ReportJsonDic[InputReportId];
        else
        {
            reportJson = await _reportService.GetReportJsonStringByReportIdAsync(InputReportId);
            ReportJsonDic.Add(InputReportId, reportJson);
        }
        //deserialize to your class
        var parsedObject = JObject.Parse(reportJson);
        var friendlies = parsedObject["friendlies"]!.Select(friendly => new Friendly(friendly.ToString())).ToList();
        friendlies = friendlies.Where(p => p.Type != "NPC" && p.Type != "Boss").ToList();
        _friendlies = friendlies.FindAll(p => p.Fights.Contains(fightId));

        string fightJson;
        if (!CharacterFightDic.ContainsKey(InputReportId) || !CharacterFightDic[InputReportId].ContainsKey(fightId))
        {
            //calculator thr itemLevel
            fightJson = await _reportService.GetCharacterFightJsonStringByReportAsync(_reports, InputReportId, fightId);
            if (!CharacterFightDic.ContainsKey(InputReportId))
                CharacterFightDic.Add(InputReportId, new Dictionary<int, string> { { fightId, fightJson } });
            else
                CharacterFightDic[InputReportId].Add(fightId, fightJson);
        }
        else
        {
            fightJson = CharacterFightDic[InputReportId][fightId];
        }
        var parsedObjectItemLevel = JObject.Parse(fightJson);
        // ReSharper disable once PossibleNullReferenceException
        foreach (var p in parsedObjectItemLevel["events"])
        {
            if (p["type"]?.ToString() != "combatantinfo") continue;
            var gearJson = p["gear"]?.ToString();
            var talentJson = p["talents"]?.ToString();
            var covenantIdJson = p["covenantID"]?.ToString();
            var sourceId = p["sourceID"]?.ToObject<int>();
            var gears = JsonConvert.DeserializeObject<List<Gear>>(gearJson ?? string.Empty);
            var talents = JsonConvert.DeserializeObject<List<Talent>>(talentJson ?? string.Empty);
            var covenantId = JsonConvert.DeserializeObject<int>(covenantIdJson ?? string.Empty);
            _friendlies.Find(friendly => friendly.Id == sourceId).Gears = gears;
            _friendlies.Find(friendly => friendly.Id == sourceId).Talents = talents;
            _friendlies.Find(friendly => friendly.Id == sourceId).CovenantId = covenantId;
            switch (covenantId)
            {
                case 1:
                    _friendlies.Find(friendly => friendly.Id == sourceId).Covenant = "格里恩";
                    break;
                case 2:
                    _friendlies.Find(friendly => friendly.Id == sourceId).Covenant = "温西尔";
                    break;
                case 3:
                    _friendlies.Find(friendly => friendly.Id == sourceId).Covenant = "法夜";
                    break;
                case 4:
                    _friendlies.Find(friendly => friendly.Id == sourceId).Covenant = "通灵";
                    break;
            }
        }

        foreach (var friendly in _friendlies)
        {
            //计算装等
            var itemLevelSum = 0d;
            var itemNumber = 0;
            foreach (var gear in friendly.Gears.Where(gear => gear.ItemLevel >= 168))
            {
                itemLevelSum += gear.ItemLevel;
                itemNumber++;
            }
            friendly.ItemLevel = Math.Round(itemLevelSum / itemNumber, 2); //保留小数点后2位
        }

        //turn to fight page
        _fightShow = 2;
        StateHasChanged();
    }
    /// <summary>
    /// 分析当前战斗的团队技能分配情况
    /// </summary>
    /// <param name="fightId"></param>
    private async void AnalysisReportsErupt(int fightId)
    {
        //wait for get info from wcl and spin
        _process = 0;
        _fightShow = 5;
        _curFightId = fightId;
        //
        StateHasChanged();
        await Task.Delay(1);
        string reportJson;
        if (ReportJsonDic.ContainsKey(InputReportId))
            reportJson = ReportJsonDic[InputReportId];
        else
        {
            reportJson = await _reportService.GetReportJsonStringByReportIdAsync(InputReportId);
            ReportJsonDic.Add(InputReportId, reportJson);
        }
        //deserialize to your class
        var parsedObject = JObject.Parse(reportJson);
        var friendlies = parsedObject["friendlies"]!.Select(friendly => new Friendly(friendly.ToString())).ToList();
        friendlies = friendlies.Where(p => p.Type != "NPC" && p.Type != "Boss").ToList();
        _friendlies = friendlies.FindAll(p => p.Fights.Contains(fightId));
        foreach (var friendly in _friendlies)
        {
            _eruptListTemp = await _reportService.GetEruptList(_reports, InputReportId, _curFightId, friendly);
            _dicErupt = await _reportService.GetErupt(_eruptListTemp, _reports.Find(p => p.Id == _curFightId).StartTimeUnix);
            _eruptList.AddRange(_dicErupt);
            _process += 5;
            StateHasChanged();
        }
        _eruptList = _eruptList.OrderBy(p => p.Time).ToList();

        //turn to fight page
        _fightShow = 6;
        StateHasChanged();
    }
    /// <summary>
    /// 分析当前战斗当前玩家的情况
    /// </summary>
    /// <param name="characterId"></param>
    private async void AnalysisFriendly(int characterId)
    {
        //wait for get info from wcl and spin
        _fightShow = 4;
        _selectedTab = "basic";
        //
        StateHasChanged();
        await Task.Delay(1);

        _curFriendly = _friendlies.FirstOrDefault(p => p.Id == characterId);
        if (_curFriendly != null)
        {
            var (spec, talentList) = _reportService.GetTalentByType(_curFriendly.Talents);
            _curFriendly.Spec = spec;
            _curFriendly.TalentNumber = talentList[0] + talentList[1] + talentList[2] + talentList[3] + talentList[4] + talentList[5] + talentList[6];
        }

        //turn to fight page
        _fightShow = 3;
        StateHasChanged();
    }
    /// <summary>
    /// 页面点击转换触发事件
    /// </summary>
    /// <param name="name"></param>
    private async void OnSelectedTabChanged(string name)
    {
        _selectedTab = name;
        switch (name)
        {
            //施法分析
            case "castAnalysis":
                //wait for get info and spin
                _analysisShow = 0;
                //
                StateHasChanged();
                var curFight = _reports.Find(p => p.Id == _curFightId);
                _casts = await _reportService.GetCastAsync(curFight, InputReportId, _curFriendly.Id, true);
                _durationRole = (curFight.EndTimeUnix - curFight.StartTimeUnix) / 1000.0;
                (_sameTalentCovenant, _castsModel, _durationModel) = await _reportService.GetSameTalentCovenant(curFight.Boss, _curFriendly);
                _indexCast = _casts.Keys.ToList().Union(_castsModel.Keys.ToList()).ToList();
                _analysisShow = 1;
                StateHasChanged();
                break;
            //爆发分析
            case "mainSkillTimeLine":
                //wait for get info and spin
                _analysisShow = 0;
                //
                StateHasChanged();
                if (_curFriendly.Spec is "Restoration" or "Mistweaver" or "Holy" or "Discipline")
                {

                    _analysisShow = 1;
                }
                else
                {

                    _analysisShow = 2;
                }

                StateHasChanged();
                break;
        }
    }


    #region 通用method

    /// <summary>
    /// 返回前一页
    /// </summary>
    private void ReturnBeforePage()
    {
        _fightShow--;
    }
    /// <summary>
    /// unix时间戳转换
    /// </summary>
    /// <param name="unixTimeStamp"></param>
    /// <returns></returns>
    private static DateTime UnixToDateTime(long unixTimeStamp)
    {
#pragma warning disable 618
        var startTime = TimeZone.CurrentTimeZone.ToLocalTime(new DateTime(1970, 1, 1)); // 当地时区
#pragma warning restore 618
        var dt = startTime.AddMilliseconds(unixTimeStamp);
        return dt;
    }
    /// <summary>
    /// cssStyle初始化
    /// </summary>
    private void InitialCssStyle()
    {
        _cssTypeStyle.Add("Shaman", "color: #2459FF");
        _cssTypeStyle.Add("Mage", "color: #5EBADF");
        _cssTypeStyle.Add("Warlock", "color: #8578BC");
        _cssTypeStyle.Add("Death Knight", "color: #B01F3C");
        _cssTypeStyle.Add("Druid", "color: #FF7D0A");
        _cssTypeStyle.Add("Priest", "color: #E5E8EC");
        _cssTypeStyle.Add("Monk", "color: #288E73");
        _cssTypeStyle.Add("Demon Hunter", "color: #922EBC");
        _cssTypeStyle.Add("Paladin", "color: #E68CBA");
        _cssTypeStyle.Add("Warrior", "color: #B38F6A");
        _cssTypeStyle.Add("Rogue", "color: #E5DF65");
        _cssTypeStyle.Add("Hunter", "color: #8EB667");
    }

    #endregion

}